.header-image {

    width: 100%;
    height: max-content;
    background: black; /* two lines are temporary */
    color: white;

}

.body-section {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.grid-container {

    display: grid;
    width: 70%;
    padding: 10px;
    grid-template: '. . . . .';

}

/*.beavers {



}*/
