body {

    padding: 0px;
    margin: 0px;
    font-family: Helvetica, sans-serif;

}

header {

    width: calc(100% - 30px);
    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: teal;
    color: white;

}

.header-cont {

    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.header-title {

    margin: 0px 10px 0px 10px;

}

.header-icon {

    margin-right: 20px;

}

.header-link {

    color: white;
    text-decoration: none;

}

.header-button {

    background: none;
    color: white;
    border: none;
    margin: 0px;
    padding: 0px;

}

.header-link, .header-button {

    font-size: .8rem;
    margin-right: 1vw;

}

.header-link:hover {

    text-decoration: underline;

}

span:hover {

    text-decoration: underline;

}

.vertical-rule {

    height: 100%;
    width: 5px;

    background: whites;

}

/*.header-search-form {

    margin-right: 20px;

}

.header-search-bar {

    margin: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid grey;
    padding: 2.5px;

}

.header-search-bar:focus {

    outline: none;

}

.header-search-button {

    margin: 0px;

}*/

.social-link {

    padding: 0px;
    height: min-content;

}

#facebook { /*temp icon*/

    width: 25px;
    height: 25px;
    background: rgb(54, 54, 54);
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;

}

#facebook:hover {

    background: black;

}

#osm {

    color: white;
    text-decoration: none;
    margin-right: 10px;

}
